<p-toolbar styleClass="bg-primary">
    <div class="p-toolbar-group-left">
        <h3>CRUD USERS</h3>
    </div>

    <ul class="flex align-items-center gap-2">
       <li>
           <p-button>Home</p-button>
       </li>
       <li>
            <p-button>Products</p-button>
       </li>
       <li>
            <p-button>Blogs</p-button>   
       </li>
       <li>
            <p-button>Contact</p-button>
       </li>
    </ul>
    
    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search" styleClass="p-button-text text-white"></p-button>
        <p-button icon="pi pi-heart" styleClass="p-button-text text-white"></p-button>
        <p-button icon="pi pi-user" styleClass="p-button-text text-white"></p-button>
    </div>
</p-toolbar>