<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="my-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers?.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    
    <p-table #dt [value]="users" [(selection)]="selectedUsers">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0">Manage Products</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search...">
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th></th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>
                    <img [src]="user.avatar ? user.avatar : avt_default" alt="Avatar" class="w-5rem h-5rem border-circle">
                </td>
                <td>{{user.fullName}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="handleDeleteUser(user._id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{users?.length}} users
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" [formGroup]="form">
        <img [src]="image ? image: avt_default" alt="Avatar" class="w-5rem h-5rem block mx-auto border-circle">
        <div class="field">
            <label for="fullname">Fullname</label>
            <input type="text" pInputText id="fullname" name="fullName" formControlName="fullName">
            <div *ngIf="form.get('fullName')?.errors && form.get('fullName')?.touched">
                <small class="p-error" *ngIf="form.get('fullName')?.errors?.['required']">Full name is required</small>
            </div>
        </div>
        <div class="field">
            <label for="username">Username</label>
            <input type="text" pInputText id="username" formControlName="userName">
            <div *ngIf="form.get('userName')?.errors && form.get('userName')?.touched">
                <small class="p-error" *ngIf="form.get('userName')?.errors?.['required']">User name is required</small>
                <small class="p-error" *ngIf="form.get('userName')?.errors?.['minlength']">User name should be longer than five characters</small>
            </div>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email"  formControlName="email">
            <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
                <small class="p-error" *ngIf="form.get('email')?.errors?.['required']">Email is required</small>
                <small class="p-error" *ngIf="form.get('email')?.errors?.['email']">Email is not valid</small>
            </div>
        </div>
        <div class="field">
            <label for="phone">Phone number</label>
            <input type="text" pInputText id="phone" formControlName="phoneNumber">
            <div *ngIf="form.get('phoneNumber')?.errors && form.get('phoneNumber')?.touched">
                <small class="p-error" *ngIf="form.get('phoneNumber')?.errors?.['required']">Phone number is required</small>
                <small class="p-error" *ngIf="form.get('phoneNumber')?.errors?.['pattern']">Phone number is not valid</small>
            </div>
        </div>
        <div class="field">
            <label for="gender">Gender</label> 
            <p-dropdown formControlName="gender" inputId="gender" [options]="gender" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span>{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <div *ngIf="form.get('gender')?.errors && form.get('gender')?.touched">
                <small class="p-error" *ngIf="form.get('gender')?.errors?.['required']">Gender is required</small>
            </div>
        </div>
        <div class="field">
            <label for="age">Age</label>
            <p-inputNumber id="age" formControlName="age" [min]="1" [max]="100" [allowEmpty]="false"></p-inputNumber>
            <div *ngIf="form.get('age')?.errors && form.get('age')?.touched">
                <small class="p-error" *ngIf="form.get('age')?.errors?.['required']">Age is required</small>
            </div>
        </div>
        <div class="field">
            <p-fileUpload (onSelect)="handleSelectImage($event)" mode="basic" accept="image/*" label="Upload image" chooseLabel="Upload image"></p-fileUpload>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser(form)"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>